*{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

.cuerpo{
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}



:root{
    --primary-color:#28ac67;
    --secondary-color:whitesmoke;
}

.espacio-vacio{
  background-color: white;
  height: 7.5rem;
}

p{
  font-family: "Liter", sans-serif;
}
/* HEADER */



header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* que quede encima */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Varta", sans-serif;
    
}

.logo-img a img{
    height: 80px;
    width: auto;
    margin-left: 30%;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px; 
    padding: 5px;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    font-size: 1.5rem;
    margin-right: 5%;
}

.header-nav ul{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.8rem;
    border-radius: 1.5rem;
}

.header-nav ul a{
    text-decoration: none;
    color:var(--secondary-color) ;
}

/*  SECCION HERO   */

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 40px;
  color: white;
}

.hero-slider {
  position: absolute;
  top: 0; left: 0;
  width: 300%; 
  height: 100%;
  display: flex;
  transition: transform 1.6s ease-in-out;
  z-index: 0;
}

.slide {
  flex: 0 0 33.3333%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.hero-content {
  position: relative;
  max-width: 500px;
  
  padding: 20px;
  border-radius: 20px 20px 100px 20px;
  transform: translateY(10%);
  padding: 2.5rem;
  margin-left: 5%;
}

.hero-content h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-family: "Varta", sans-serif;
}

.hero-content h2 {
  margin-bottom: 2rem;
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 100;
}

.hero-content button {
  padding: 12px 24px;
  font-size: 1rem;
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-color);
  border-radius: 8px;
  cursor: pointer;

}

/*  SECCION SERVICIOS   */
#servicios {
  scroll-margin-top: 90px;
}
.hero-servicios{
  height: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #0f1818;
  margin-bottom: 2rem;

}
.hero-servicios h1{
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--secondary-color);
  font-family: "Funnel Sans", sans-serif;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness:1px ;
  font-style: italic;
}
.grid-servicios{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.servicio{
  text-align: center;
}

.servicio img {
  max-width: 80px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.servicio h2{
  font-size: 1.1rem;
  color: var(--primary-color);
  font-family: "Sour Gummy", sans-serif;
  font-weight: 500;
  letter-spacing: 1.2px;
  

}
.servicio p{
  margin-top: 1rem;
  font-size: 0.82rem;
  color: var(--secondary-color);
  line-height: 1.6;
  letter-spacing: 0.2px;
  font-family: "Funnel Sans", sans-serif;
  letter-spacing: 0.5px;
}

/*  TESTIMONIO  */

#clientes {
  scroll-margin-top: 130px;
}

.testimoni-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  height: 80vh;
  margin-top: 11%;
}

.testimoni-container h2 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  color: #28ac67;
  font-family: "Funnel Sans", sans-serif;
  font-style: italic;
  
}

.testimonios-grid {
 display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch; /* Hace que todos los hijos tengan misma altura */
}

.testimonio {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.1);
  width: 300px;
  font-style: italic;
  color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.testimonio-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid #28ac67;
}

.testimonio p {
  margin-bottom: 15px;
  letter-spacing: 0.7px;
}

.testimonio h4 {
  margin-top: auto; /* Empuja el nombre al fondo */
  font-weight: 600;
  color: #28ac67;
  align-self: flex-start; /* Opcional: para alinear a la izquierda */

}
/* SECCIÓN NOSOTROS */
#nosotros {
  scroll-margin-top: 150px;
  background-color: #f9fffb;
  padding: 80px 40px;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.nosotros-container {
  max-width: 1200px;
  margin: 0 auto;
}

.nosotros-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 80px;
}

.nosotros-texto {
  flex: 1 1 55%;
  color: #2d2d2d;
}

.nosotros-texto h2 {
  font-size: 2.6rem;
  color: #28ac67;
  margin-bottom: 24px;
  font-weight: 700;
}

.nosotros-texto p {
  font-size: 1.15rem;
  line-height: 1.8;
  margin-bottom: 20px;
}

.nosotros-imagen {
  flex: 1 1 40%;
  text-align: center;
}

.nosotros-imagen img{
max-width: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  object-fit: cover;
}
div .imagen-historia1 {
  margin-bottom: 1rem;
  height: auto;
  width: 100%;
  text-align: center;
}



/*  FORMULARIO   */

.formulario {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  width: 100%;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.info-box,
.form-box {
  flex: 1 1 300px;
  padding: 40px;
  position: relative;
}

.info-box {
  background-color: #eef3ff;
}

.quote-icon {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
}

.quote-icon img {
  width: 100%;
  height: auto;
}

.info-box h3 {
  font-size: 26px;
  margin-left: 20px;
  margin-bottom: 16px;
  color: #2b2b2b;
  font-style: italic;
  font-family: "Funnel Sans", sans-serif;
}

.info-box p {
  margin-bottom: 30px;
  color: #444;
  font-size: 16px;
  line-height: 1.6;
}

.redes-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.redes-section h4 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 6px;
}

.redes {
  display: flex;
  gap: 16px;
  align-items: center;
}

.redes a {
  font-size: 22px;
  color: #005eff;
  transition: color 0.3s ease;
}


.form-box h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #2b2b2b;
  font-family: "Varta", sans-serif;
  font-weight: 400;
}

.form-box form {
  display: flex;
  flex-direction: column;
}

.form-box input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.form-box button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/*  FOOTER  */

.footer-container {
  background-color: #28ac67;
  color: white;
  padding: 20px 10px;
  font-size: 0.9rem;
  font-family: "Funnel Sans", sans-serif;
}

.footer-content {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-left,
.footer-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-right a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-right a:hover {
  color: #d3f5e5;
}

.footer-bottom {
  text-align: center;
  font-size: 0.85rem;
}


/* MEDIA QUERIES */
@media (max-width: 1150px) {
  
    header{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    position: absolute;
    }


  .logo-img a img{
    height: 80px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.0);   
  }

  .header-nav{
    display: none;
  }

  /* SECCTION HERO */
  .hero-content{
    padding: 0;
    margin-left: 0;
  }
}

@media (min-width: 600px) and (max-width: 1150px) {
  .hero {
    position: relative;
    height: 80vh; /* alto fijo para móvil */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/herocell.png');
    background-repeat: no-repeat;
    background-position: left center; /* foco en izquierda */
    background-size: cover;
    color: white;
    z-index: 0;
  }
  .hero-slider {
  position: absolute;
  top: 0; left: 0;
  width: 300%; 
  height: 100%;
  display: flex;
  transition: transform 1.6s ease-in-out;
  z-index: 0;
}

.slide {
  flex: 0 0 33.3333%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

  .backimg{
    display: none;
  }

  .hero-content {
    position: relative;
    max-width: 650%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.55); /* fondo oscuro transparente */
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 1; /* que esté sobre el fondo */
  }

  .hero-content h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-family: "Varta", sans-serif;
  }

  .hero-content h2 {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 1.5rem;
    font-family: "Encode Sans Condensed", sans-serif;
  }

  .hero-content button {
    padding: 12px 28px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

/* TEStimonio */

 .testimoni-container {
    height: auto;
    padding: 15px 10px;
    max-width: 350px; /* Contenedor más estrecho para que no se extienda */
    margin: 0 auto;
  }

  .testimonios-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr)); /* columnas más pequeñas */
    gap: 2.5rem ;
    justify-items: center;
    padding: 0 5px;
  }

  .testimonio {
    width: 100%;
    max-width: 160px; /* testimonio más estrecho */
    font-size: 0.8rem; /* texto más pequeño */
    padding: 12px 10px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 0.08);
  }

  .testimonio-img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }

  .testimonio p {
    margin-bottom: 10px;
    font-size: 0.75rem;
  }

  .testimonio h4 {
    font-size: 0.85rem;
  }

}






@media (max-width: 600px) {
  header{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    position: absolute;
    }


  .logo-img a img{
    height: 50px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.0);   
  }

 
  /* SECCTION SERVICIOS */
  .hero-servicios {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .hero-servicios h1 {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .grid-servicios {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 1rem;
  }

  .servicio {
    padding: 12px 8px;
  }

  .servicio img {
    max-width: 70px; /* un poco más pequeño que desktop */
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }

  .servicio h2 {
    font-size: 1.05rem;
    margin-bottom: 0.5rem;
  }

  .servicio p {
    font-size: 0.78rem;
    line-height: 1.5;
    margin-top: 0.5rem;
    letter-spacing: 0.3px;
  }

  .none{
    display: none;
  }
 

 /* SECCTION TESTIMONIO */
  .testimoni-container {
    height: auto;
    padding: 15px 10px;
    max-width: 350px; /* Contenedor más estrecho para que no se extienda */
    margin: 0 auto;
  }

  .testimonios-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr)); /* columnas más pequeñas */
    gap: 2.5rem ;
    justify-items: center;
    padding: 0 5px;
  }

  .testimonio {
    width: 100%;
    max-width: 160px; /* testimonio más estrecho */
    font-size: 0.8rem; /* texto más pequeño */
    padding: 12px 10px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 0.08);
  }

  .testimonio-img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }

  .testimonio p {
    margin-bottom: 10px;
    font-size: 0.75rem;
  }

  .testimonio h4 {
    font-size: 0.85rem;
  }

  /* SECCTION NOSOTROS */
  .nosotros-container {
    padding:  20px;
    padding-top: 40px;
    padding-bottom: 0;
    background-color: #ffffff;
  }

  .nosotros-content {
    display: block;
    margin-bottom: 60px;
  }
   .imagen-historia1{
    height: auto;
    width: 100%;
    border-radius: 20px;
  }

  .imagen-historia{
    display: none;
  }
  .nosotros-texto {
    width: 100%;
  }

  .nosotros-texto h2 {
    font-size: 1.6rem;
    color: #28ac67;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Funnel Sans", sans-serif;
    font-style: italic;
  }

  .nosotros-imagen {
    float: left;
    width: 50%;
    margin: 0 20px 10px 0;
    min-height: 200px; /* Alto mínimo para que sea más alta */
  }

  .nosotros-imagen img {
    width: 100%;
    height: 100%; /* que ocupe todo el alto del contenedor */
    object-fit: cover;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .nosotros-texto p {
    font-size: 1rem;
    line-height: 1.7;
    color: #444;
    text-align: justify;
  }

  .nosotros-content::after {
    content: "";
    display: table;
    clear: both;
  }
  /* SECCTION FORMULARIO */
.formulario{
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

   .form-container {
    flex-direction: column;
    border-radius: 0;
    box-shadow: none;
  }

  .info-box,
  .form-box {
    padding: 24px 16px;
  }

  .info-box h3 {
    font-size: 22px;
    margin-left: 0;
    margin-bottom: 12px;
  }

  .info-box p {
    font-size: 14px;
    line-height: 1.5;
  }

  .redes-section h4 {
    font-size: 12px;
    text-align: center;
  }

  .redes {
    justify-content: center;
    gap: 12px;
  }

  .redes a {
    font-size: 20px;
  }

  .form-box h2 {
    font-size: 20px;
    text-align: center;
  }

  .form-box input,
  .form-box button {
    font-size: 14px;
    padding: 10px;
  }

  .quote-icon {
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 10px;
  }
}


@media (max-width: 600px) {
  .hero {
    position: relative;
    height: 80vh; /* alto fijo para móvil */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/herocell.png');
    background-repeat: no-repeat;
    background-position: left center; /* foco en izquierda */
    background-size: cover;
    color: white;
    z-index: 0;
  }
  .hero-slider {
  position: absolute;
  top: 0; left: 0;
  width: 300%; 
  height: 100%;
  display: flex;
  transition: transform 1.6s ease-in-out;
  z-index: 0;
}

.backimg {
  flex: 0 0 33.3333%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

  .slide{
    display: none;
  }

  .hero-content {
    position: relative;
    max-width: 650%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.55); /* fondo oscuro transparente */
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 1; /* que esté sobre el fondo */
  }

  .hero-content h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-family: "Varta", sans-serif;
  }

  .hero-content h2 {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 1.5rem;
    font-family: "Encode Sans Condensed", sans-serif;
  }

  .hero-content button {
    padding: 12px 28px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
}