*{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

.cuerpo{
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}



:root{
    --primary-color:#28ac67;
    --secondary-color:whitesmoke;
}


/* HEADER */

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* que quede encima */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.logo-img a img{
    height: 80px;
    width: auto;
    margin-left: 30%;
    margin-bottom: 5px;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    font-size: 1.5rem;
    margin-right: 5%;
}

.header-nav ul{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.8rem;
    border-radius: 1.5rem;
}

.header-nav ul a{
    text-decoration: none;
    color:var(--secondary-color) ;
}

/*  SECCION HERO   */

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 40px;
  color: white;
}

.hero-slider {
  position: absolute;
  top: 0; left: 0;
  width: 300%; 
  height: 100%;
  display: flex;
  transition: transform 1.6s ease-in-out;
  z-index: 0;
}

.slide {
  flex: 0 0 33.3333%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.hero-content {
  position: relative;
  max-width: 500px;
  
  padding: 20px;
  border-radius: 20px 20px 100px 20px;
  transform: translateY(10%);
  padding: 2.5rem;
  margin-left: 5%;
}

.hero-content h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.hero-content h2 {
  margin-bottom: 2rem;
}

.hero-content button {
  padding: 12px 24px;
  font-size: 1rem;
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-color);
  border-radius: 8px;
  cursor: pointer;
}


/*  SECCION SERVICIOS   */

.servicios h1{
  text-align: center;
}

.grid-column-servicios{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  height: auto;
}

/*  COLUMNA 1 SERVICIOS   */
.column1{
  background-color: aqua;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* SERVICIOS 1  */

.servicio1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicio1 img{
  height: 80px;
  width: auto;
  margin-right: 2rem;
  
}

.descripcion1{
  text-align: center;
}

.descripcion1 h2{
  font-size: 1.2rem;
}

.descripcion1 p{
  margin: 0 2rem 2rem 2rem;
  font-size: 10px;
}

/* SERVICIOS 2  */
.servicio2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicio2 img{
  height: 80px;
  width: auto;
  margin-right: 6rem;
  
}

.descripcion2{
  text-align: center;
}

.descripcion2 h2{
  font-size: 1.2rem;
}

.descripcion2 p{
  margin: 0 2rem 2rem 2rem;
  font-size: 10px;

}

/* SERVICIOS 3  */
.servicio3{
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicio3 img{
  height: 80px;
  width: auto;
  margin-right: 6rem;
}

.descripcion3{
  text-align: center;
}
.descripcion3 h2{
  font-size: 1.2rem;
}
.descripcion3 p{
  margin: 0 2rem 2rem 2rem;
  font-size: 10px;
}

/* SERVICIOS 4  */
.servicio4{
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicio4 img{
  height: 80px;
  width: auto;
  margin-right: 2rem;
}

.descripcion4{
  text-align: center;
}
.descripcion4 h2{
  font-size: 1.2rem;
}
.descripcion4 p{
  margin: 0 2rem 2rem 2rem;
  font-size: 10px;
}

/*  COLUMNA 2 SERVICIOS   */
.column2 {
  background-color: aquamarine;
  display: grid;
  grid-template-rows: 2fr 3fr 3fr;
  height: 120vh;
  justify-items: center; /* Centra horizontalmente los hijos */
  align-items: center;   /* Centra verticalmente los hijos */
}

/*  SERVICIOS 10   */
.servicio10{
  display: inline;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.servicio10 img{
  height: 80px;
  width: auto;
  
}

.descripcion10 h2{
  font-size: 1.2rem;
}

.descripcion10 p{
  font-size: 10px;
}

/*  MOCKUP CELULAR   */
.mockup-celular{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mockup-celular img{
  height: 300px;
  width: auto;
}


/*  SERVICIOS 5   */
.servicio5 {
  display: inline;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.servicio5 img{
  height: 80px;
  width: auto;
}

.descripcion5 h2{
  font-size: 1.2rem;
}

.descripcion5 p{
  font-size: 10px;
}



/*  COLUMNA 3 SERVICIOS   */
.column3{
  background-color: aqua;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

/*  SERVICIO 6 SERVICIOS   */
.servicio6{
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicio6 img{
  height: 80px;
  width: auto;
  margin-left: 2rem;
}

.descripcion6{
  text-align: center;
}
.descripcion6 h2{
  font-size: 1.2rem;
}
.descripcion6 p{
  margin: 0 2rem 2rem 2rem;
  font-size: 10px;
}


/* SERVICIOS 7  */
.servicio7{
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicio7 img{
  height: 80px;
  width: auto;
  margin-left: 4rem;
}

.descripcion7{
  text-align: center;
}
.descripcion7 h2{
  font-size: 1.2rem;
}
.descripcion7 p{
  margin: 0 2rem 2rem 2rem;
  font-size: 10px; 
}

/* SERVICIOS 8  */
.servicio8{
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicio8 img{
  height: 80px;
  width: auto;
  margin-left: 4rem;
}

.descripcion8{
  text-align: center;
}
.descripcion8 h2{
  font-size: 1.2rem;
}
.descripcion8 p{
  margin: 0 2rem 2rem 2rem;
  font-size: 10px;
}
/* SERVICIOS 9  */
.servicio9{
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicio9 img{
  height: 80px;
  width: auto;
  margin-left: 2rem;
}

.descripcion9{
  text-align: center;
}
.descripcion9 h2{
  font-size: 1.2rem;
}
.descripcion9 p{
  margin: 0 2rem 2rem 2rem;
  font-size: 10px;
}